.gfinder-app-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: rgba(45, 45, 45, 0.9);
    margin: 25px 0;
}

@media screen and (max-width: 768px) {
    .gfinder-app-footer {
        flex-direction: column;
    }
}

.alacrity-logo {
    margin-left: 35px;
    font-family: arkhipregular, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.tos {
    margin-left: 10px;
    font-family: 'Lexend Deca', sans-serif;
}
